html {
  background-color: blue;
}
body {
  background-color: lightyellow;
}

.card{
  height: 300px;
  width: 500px;
  border: 1px solid black;
  background-color:yellow;
  border-radius: 10px;
  display: inline-block;
  margin:8%;
  font-size: 100px;
  text-align: center;
  color: blue;

}
.div {
  font-size: 40;
  text-align: center;
}
title {
  color: red;
}
h1 {
  color: blue;
  text-align: center
}

h2 {
  color: red;
  text-align: center
}

p {
  color: green;
  text-align: center;
  margin: 5px;
  font: ;

}
.btn-secondary {
  background-color: lightblue;
  vertical-align: text-top;
}
.name {
  color: yellow;
}

.board {
  height: 80%;
  width: 50%;
  display: inline-block;
}

.nav {
  background-color: rgb(2, 132, 130);
      }
.navbar{
  background-color: lightgreen;
}
a {
        background-color: lightblue;
        color: white;
        font-style: italic;
        display: block;
        float: left;
        padding: 35px;
      }

a:hover {
        background-color: #ee5f3c;
      }

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer {
  background-color: lightgreen;
  text-align: center;
}
